.new-task-form {
    display: flex;
    justify-content: center;
}

.text-form {
    height: 40px;
    width: 600px;
    font-size: 25px;
    color: #7b3f88;
}

.button-form {
    width: 70px;
    font-size: 25px;
    color: #7b3f88;
    cursor: pointer;
}